@page "/FamilyView/{StreetName}/{HouseNumber:int}"
@using Family_Assignment.Data
@inject IFamilyReader fileReader
@inject NavigationManager NavMgr
<h3>FamilyView</h3>

<div class="card-body pt-0">
    <table class="table table-bordered">
        <tr>
            <th width="30%">StreetName</th>
            <td width="2%">:</td>
            <td>@StreetName</td>
        </tr>
        <tr>
            <th width="30%">HouseName</th>
            <td width="2%">:</td>
            <td>@HouseNumber</td>
        </tr>

    </table>
</div>

<h4>Adults</h4>
<a class="btn btn-success mb-2" @onclick="() => NavigateToAddAdult()">Add Adult</a>

@if (toShowAdults == null)
{
    <p>no adults fount</p>
}
else
{
    <table class="table">
        <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Sex</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in toShowAdults)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Age</td>
                <td>@item.Sex</td>
                <td><a class="btn btn-primary" @onclick="() => NavigateToAdultView(item.Id)">View</a></td>
            </tr>
        }
        </tbody>
    </table>
}

<h4>Children</h4>
<a class="btn btn-success mb-2" @onclick="() => NavigateToAddChildren()">Add Child</a>

@if (toShowChildren == null)
{
    <p>no children fount</p>
}
else
{
    <table class="table">
        <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Sex</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in toShowChildren)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Age</td>
                <td>@item.Sex</td>
                <td><a class="btn btn-primary" @onclick="() => NavigateToChildView(item.Id)">View</a></td>
            </tr>
        }
        </tbody>
    </table>
}

<h4>Pets</h4>
<a class="btn btn-success mb-2" @onclick="() => NavigateToAddPet()">Add Pet</a>

@if (toShowPets == null)
{
    <p>no pets fount</p>
}
else
{
    <table class="table">
        <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Species</th>
            <th>Name</th>
            <th>Age</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in toShowPets)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Species</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td><a class="btn btn-primary" @onclick="() => NavigateToPetView(item.Id)">View</a></td>
            </tr>
        }
        </tbody>
    </table>
}